header {
  color: #fff;
  position: relative; }
  header nav {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #c74848;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    z-index: 10; }
    header nav h2 {
      font-weight: normal; }
    header nav #login-btn {
      position: absolute;
      right: 0;
      height: 100%;
      color: #fff;
      padding: 20px; }
    header nav #logout-btn {
      color: #fff;
      padding: 20px; }
  header #hero {
    margin-top: 75px;
    width: 100%;
    height: 400px;
    background: url("assets/images/hero.jpg");
    background-size: cover; }

#menu-view-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  z-index: 1; }
  #menu-view-container #menu-container {
    width: 70%;
    margin-right: 40px; }
    #menu-view-container #menu-container h1 {
      display: flex;
      align-items: center;
      height: 80px;
      box-sizing: border-box;
      color: #fff;
      margin: 0; }

.menu-cat {
  margin-bottom: 40px; }
  .menu-cat .menu-cat-title {
    background: #312b2c;
    margin: 0;
    padding: 20px;
    color: #fff; }
  .menu-cat .menu-items-container .menu-item {
    background: #c74848;
    color: #fff; }
    .menu-cat .menu-items-container .menu-item:hover {
      background: #cb5454;
      cursor: pointer; }
    .menu-cat .menu-items-container .menu-item .top {
      padding-left: 20px;
      justify-content: space-between;
      display: flex; }
      .menu-cat .menu-items-container .menu-item .top .top-wrapper {
        display: flex;
        align-items: center; }
        .menu-cat .menu-items-container .menu-item .top .top-wrapper .menu-icon {
          margin-left: 10px;
          fill: #fff;
          height: 15px; }
      .menu-cat .menu-items-container .menu-item .top .wrapper {
        display: flex; }
        .menu-cat .menu-items-container .menu-item .top .wrapper button {
          margin-left: 20px;
          background: #bc3a3a;
          width: 60px;
          border: none;
          color: #fff; }
          .menu-cat .menu-items-container .menu-item .top .wrapper button:hover {
            background: #a83434; }
    .menu-cat .menu-items-container .menu-item .bottom {
      display: flex;
      background: #bc3a3a; }
      .menu-cat .menu-items-container .menu-item .bottom p {
        margin: 0;
        padding: 20px 10px 20px 20px;
        width: calc(100% - 60px);
        box-sizing: border-box; }
      .menu-cat .menu-items-container .menu-item .bottom .menu-item-warnings {
        width: 60px;
        background: #bc3a3a; }
    .menu-cat .menu-items-container .menu-item .hidden {
      display: none; }
  .menu-cat .menu-items-container .hidden .bottom {
    display: block; }

[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 50%; }
  [type=range]:focus {
    outline: none; }
  [type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0 0 0 #222, 0 0 0 #2f2f2f;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px; }
  [type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
    border: 3px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #c74848;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px; }
  [type=range]:focus::-webkit-slider-runnable-track {
    background: white; }
  [type=range]::-moz-range-track {
    width: 50%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0 0 0 #222, 0 0 0 #2f2f2f;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px; }
  [type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
    border: 3px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #c74848;
    cursor: pointer; }
  [type=range]::-ms-track {
    width: 50%;
    height: 10px;
    cursor: pointer;
    transition: all .2s ease;
    background: transparent;
    border-color: transparent;
    border-width: 30px 0;
    color: transparent; }
  [type=range]::-ms-fill-lower {
    box-shadow: 0 0 0 #222, 0 0 0 #2f2f2f;
    background: #f2f2f2;
    border: 1px solid #000;
    border-radius: 10px; }
  [type=range]::-ms-fill-upper {
    box-shadow: 0 0 0 #222, 0 0 0 #2f2f2f;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px; }
  [type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #111, 0 0 1px #1e1e1e;
    border: 3px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #c74848;
    cursor: pointer; }
  [type=range]:focus::-ms-fill-lower {
    background: #fff; }
  [type=range]:focus::-ms-fill-upper {
    background: white; }

#order-container {
  top: 500px;
  margin-top: 80px;
  color: #fff;
  height: auto;
  width: 25%; }
  #order-container h2 {
    background: #312b2c;
    padding: 20px;
    margin: 0; }
  #order-container #order-list {
    background: #c74848; }
    #order-container #order-list .order-item {
      display: flex;
      flex-direction: column;
      height: calc(281px + 60px); }
      #order-container #order-list .order-item .order-options {
        background: #bc3a3a;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #order-container #order-list .order-item .order-options label {
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: space-between; }
        #order-container #order-list .order-item .order-options .order-item-vegan {
          margin: 20px 0; }
          #order-container #order-list .order-item .order-options .order-item-vegan input[type="checkbox"] {
            opacity: 0; }
          #order-container #order-list .order-item .order-options .order-item-vegan .fake-checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 37px;
            width: 37px;
            background: #fff;
            border: 3px solid #fff;
            border-radius: 3px; }
            #order-container #order-list .order-item .order-options .order-item-vegan .fake-checkbox:hover {
              cursor: pointer; }
          #order-container #order-list .order-item .order-options .order-item-vegan .selected::before {
            font-family: 'FontAwesome';
            content: "\f00c";
            color: #c74848;
            font-size: 1.5rem; }
        #order-container #order-list .order-item .order-options .order-item-spice-level {
          margin: 20px 0; }
          #order-container #order-list .order-item .order-options .order-item-spice-level input[type="range"] {
            background: none; }
        #order-container #order-list .order-item .order-options .order-item-request {
          margin-top: 10px;
          display: block;
          padding: 0; }
          #order-container #order-list .order-item .order-options .order-item-request p {
            margin-left: 10px; }
          #order-container #order-list .order-item .order-options .order-item-request input {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: none; }
      #order-container #order-list .order-item .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center; }
        #order-container #order-list .order-item .wrapper .order-item-title {
          margin-left: 10px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 10px; }
        #order-container #order-list .order-item .wrapper div {
          display: flex;
          align-items: center; }
          #order-container #order-list .order-item .wrapper div button {
            margin-left: 10px;
            height: 60px;
            width: 60px;
            border: none;
            background: #bc3a3a;
            color: #fff; }
            #order-container #order-list .order-item .wrapper div button:hover {
              background: #a83434; }
      #order-container #order-list .order-item:hover {
        cursor: pointer;
        background: #cb5454; }
    #order-container #order-list .hide-options {
      height: 60px; }
      #order-container #order-list .hide-options .order-options {
        display: none; }
  #order-container #order-tax {
    background: #312b2c;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;
    text-align: right; }
  #order-container #order-total {
    background: #312b2c;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 20px;
    text-align: right; }
  #order-container #order-now-btn {
    background: #bc3a3a;
    width: 100%;
    color: #fff;
    border: none;
    padding: 20px 0; }
    #order-container #order-now-btn:hover {
      background: #a83434; }

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  .modal-container .modal {
    width: 60%;
    background: #c74848;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    z-index: 101; }
  .modal-container .confirmation-modal {
    max-width: 400px; }
    .modal-container .confirmation-modal .success-header {
      padding: 40px;
      text-align: center;
      background: #312b2c;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin-top: 0; }
    .modal-container .confirmation-modal h3 {
      margin-bottom: 0; }
    .modal-container .confirmation-modal .wrapper {
      display: flex;
      justify-content: space-between; }
      .modal-container .confirmation-modal .wrapper p {
        padding: 10px 20px;
        box-sizing: border-box;
        width: 70%; }
      .modal-container .confirmation-modal .wrapper #order-time {
        padding-left: 0;
        width: 30%; }
    .modal-container .confirmation-modal .ordered-items li {
      background: indianred;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between; }
    .modal-container .confirmation-modal #extra-info {
      text-align: right;
      padding-right: 20px; }
    .modal-container .confirmation-modal button {
      border: none;
      background: #bc3a3a;
      width: 100%;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #fff;
      padding: 20px; }
      .modal-container .confirmation-modal button:hover {
        background: #a83434; }

.login-modal {
  display: flex;
  flex-direction: column;
  background: #c74848;
  width: 60%;
  border-radius: 3px; }
  .login-modal h3 {
    width: 100%;
    padding: 20px;
    color: #fff;
    background: #312b2c;
    margin: 0;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .login-modal input {
    padding: 20px;
    border: none; }
  .login-modal button {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff; }

#manage-orders-container {
  margin-top: 75px; }
  #manage-orders-container .manage-all-orders-list {
    display: flex;
    flex-wrap: wrap; }
    #manage-orders-container .manage-all-orders-list .full-order {
      margin: 20px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100% / 4 - 40px); }
      #manage-orders-container .manage-all-orders-list .full-order .wrapper {
        display: flex;
        justify-content: space-between;
        height: 70px; }
        #manage-orders-container .manage-all-orders-list .full-order .wrapper h2 {
          color: #fff;
          margin: 0;
          padding: 20px;
          background: #312b2c;
          width: calc(100% - 70px); }
          #manage-orders-container .manage-all-orders-list .full-order .wrapper h2:hover {
            background: #22c979;
            cursor: pointer; }
          #manage-orders-container .manage-all-orders-list .full-order .wrapper h2:hover::before {
            font-family: 'FontAwesome';
            content: '\f00c';
            margin-right: 10px; }
        #manage-orders-container .manage-all-orders-list .full-order .wrapper .delete-order {
          width: 70px;
          background: #3e3739; }
          #manage-orders-container .manage-all-orders-list .full-order .wrapper .delete-order:hover {
            background: #bc3a3a; }
      #manage-orders-container .manage-all-orders-list .full-order .order-items-list .single-order-item {
        background: #f2f2f2;
        border-bottom: 2px solid #e6e6e6; }
        #manage-orders-container .manage-all-orders-list .full-order .order-items-list .single-order-item h3 {
          margin: 0;
          padding: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
        #manage-orders-container .manage-all-orders-list .full-order .order-items-list .single-order-item .specials-container {
          background: #c74848;
          color: #fff;
          padding: 10px 20px; }
          #manage-orders-container .manage-all-orders-list .full-order .order-items-list .single-order-item .specials-container p {
            margin: 10px 0; }
      #manage-orders-container .manage-all-orders-list .full-order h4 {
        text-align: right;
        padding: 10px 20px;
        margin: 0;
        align-self: flex-end; }
      #manage-orders-container .manage-all-orders-list .full-order .order-total {
        font-weight: bold; }
    #manage-orders-container .manage-all-orders-list .completed {
      opacity: 0.25; }
      #manage-orders-container .manage-all-orders-list .completed .wrapper h2 {
        background: #22c979; }
      #manage-orders-container .manage-all-orders-list .completed .order-items-list {
        text-decoration: line-through; }

body {
  background: #231F20; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

button, input {
  outline: none; }

button {
  background: #bc3a3a;
  border: none;
  color: #fff; }
  button:hover {
    background: #a83434; }

button:hover {
  cursor: pointer; }

main {
  padding: 0; }

footer {
  padding: 20px 40px;
  color: #fff;
  background: #312b2c; }

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter; }

/*# sourceMappingURL=main.css.map */
